<div class="bs-work project-details">

  <div class="pdetails">

    <svg class="svg_h1">
      <use xlink:href="#svg_backstop"></use>
    </svg>
    <h1>UIUX at Backstop</h1>
    <p>
      Backstop provides software solutions for alternative investment firms. Its capabilities are fine tuned to the marketplace and the CRM includes functionality for deal tracking, workflow, accounting, investor relations, portfolio management, research management, email syncing and distribution, and sophisticated data reporting tools. Backstop also provides an additional suite of software tools and services for the industry including a InvestorBridge (investor portal + CMS), Mobile Applications, as well as Outlook and Excel integration. Backstop was the first cloud based solution in the space, and has over 650 clients and 50,000 end users on the its different systems.
    </p>
    <a class="bm-web circle-link" href="/backstop-web">
      <br>Backstop Website
    </a>
    <a class="bm-mobile circle-link" href="/backstop-mobile">
      <br>Backstop Mobile
    </a>
    <a class="bm-ib circle-link" href="/backstop-investorbridge">
      <br>InvestorBridge
    </a>

    <p>
      The CRM is a 13 year old Java application built on a large range of technologies which poses many unique challenges to the product, design and engineering teams.  My team is responsible for the UI/UX of ongoing feature work and bringing legacy areas of the application up to modern standards.  This includes a combination of interface design, front end development, research and experience design. We diligently ensure that best practices for a modern user interface are applied in all steps of product development, and since my team is small it means I get lots of hands on time working with new feature deliverables, maintenance and product improvement.
    </p>
    <div class="call-out bs-crm"></div>
    <img src="<%= asset_path 'crm02.png' %>" class="crm-image"/>
    <p>
      As manager of the UIUX team I have worked to solidify processes with our engineering, product and services teams. The UIUX team built our user research program, standardized the steps for moving a project from inception to delivery, and makes sure that user advocacy, interaction, and interface decisions are being correctly considered at each step.  We have unique deliverables for the different branches of Backstop and and we documented all of our processes and made it available on internal resources so that it can be used consistently moving forward.
    </p>
  </div>

  <%= render :partial => 'layouts/project_list' %>

</div>