<div class="bs-product project-details">

  <a href="/ironwood" class="parrow left-arrow" >
    <%= image_tag("http://res.cloudinary.com/dassllli0/image/upload/v1415400690/left_arrow_g_c3xadv.svg", alt: "Back") %>
  </a>

  <a href="/sageify" class="parrow right-arrow" >
    <%= image_tag("http://res.cloudinary.com/dassllli0/image/upload/v1415400704/right_arrow_g_erbw08.svg", alt: "Next") %>
  </a>

  <div class="pdetails">
    <%= image_tag("http://res.cloudinary.com/dassllli0/image/upload/v1418999197/backstopproduct_drik5c.png", alt: "Backstop Website") %>
    <h1>Backstop CRM</h1>
    <p>
      Backstop's main platform is a CRM system for alternative investment firms.  It was the first cloud based solution in the space, and has over 700 clients on the platform.  It capabilities are fine tuned to our marketplace and includes functionality for deal tracking, workflow, investor relations, portfolio management, research management, email management, and sophisticated reporting tools.
    </p>
    <p>
      Backstop's CRM is a 12 year old Java application built on a large range of technologies which poses many unique challenges to the product, design and engineering teams.  My team is responsible for the UI/UX of ongoing feature work and we diligently ensure that best practices for a modern user interface are applied in all steps of product development.  I am currently engaged in a longterm project prioritizing improvements and streamlining the user experience for full tablet support.
    </p>
  </div>

</div>

