<div class="bs-web project-details">

  <div class="pdetails">

    <svg class="svg_h1">
      <use xlink:href="#svg_display"></use>
    </svg>
    <h1>Backstop Website</h1>

    <p>
      In late 2013 the marketing team and I stated a coup to revamp our companies brand and social image. The process started by re-imagining our website from a content first perspective, while giving our company a boutique design with a personal and accessible feel.
    </p>
    <p>
      Employee turnover ended working in our favor on this project as our marketing team picked up a new designer and copywriter.  Marketing combined with UIUX to collaborate and create a variety of landing pages, vignettes and design compositions using a range of assets including photography, illustration, product shots, and videography.  Culling my collage skills I took everyones best ideas and married them into a single design.
    </p>
    <p>
      The site uses InvestorBridge as our CMS, responsive design, parallax scrolling, vector graphics, marketing and product videos.  I acted as front end engineer creating all of the templates, scss, js, and HTML for the site.
    </p>
    <p>
      The redesign was very successful, since site launch we have doubled lead conversions, had a 90% increase in average time spent on the site, 30% increase in page views per session and lowered our bounce rate by 24%.  We have taken the design ideals built into our website and incorporated them into our social media outlets, pitch decks, and print materials.
    </p>
  </div>

  <%= render :partial => 'layouts/project_list' %>

</div>