<div class="investorbridge wide-details">
  <div class="wide-inner">
    <h1>Contact Me</h1>

    <p>
      <a name="contact"></a>
      <a href="mailto:chirsorebaugh@gmail.com">chrisorebaugh@gmail.com</a><br>
      630.373.3447<br>
      <a>Resume</a>
    </p>

    <%= render :partial => 'layouts/project_list' %>
  </div>
</div>