<main class="home">

  <section class="portfolio">
    <%= render :partial => 'layouts/project_list' %>
  </section>

  <section class="about">
    <h1>About Me</h1>
    <p>
      After completing my BFA in Illustration I joined a startup in the music industry where I was responsible for graphic design and a grass roots marketing campaign (I was in a band). In the midst of overusing distressed typography and shredding on the keytar I began customizing MySpace pages which was my catalyst for becoming a web designer. I pursued a full time position in the field and gained employment at VisionFriendly.com as a Jr. Web Designer. One year and dozens of websites later I was in a senior position and accountable for a small team.
    </p>
    <p>
      In 2008 I transitioned to working at Backstop Solutions Group, and have spent the last 7 years building software, websites and mobile applications. I was hired as a web designer, and am presently managing a team of UI/UX designers and a product feature pipeline. I have worked to grow Backstop's UX through design leadership, client delivery leadership, and internal business process optimization.
    </p>
    <p>
      I possess keen instincts and intelligence, am results driven, and have an aptitude for solving interface and technology problems.  Years in the trenches have fine tuned my background as a designer, strategist, and leader.  Weighing the combination of these factors, I am certain that I can be an impact contributor from the outset.
    </p>
  </section>

</main>