<div class="investorbridge project-details">

  <div class="pdetails">
    <svg class="svg_h1">
      <use xlink:href="#svg_road"></use>
    </svg>
    <h1>InvestorBridge</h1>
    <p>
      InvestorBridge is a content management system that hosts data and documents for Hedge Funds and their clients in a secure environment.  The system gives firms the ability to manage their users and data in the Backstop CRM, and import it directly into InvestorBridge to populate their website. InvestorBridge allows its clients to have a fully customized public website that relies on a shared administrative interface and site widgets.
    </p>
    <p>
      I have worked on this platform since 2008 with my initial role designing and implementing client sites.  In 2010 the platform was rewritten in Ruby on Rails, and the versions written in PHP and Java were deprecated. While building out new clients sites I was also responsible for migrating the existing sites off of the legacy platform and ended up building over 100 sites on the different platforms.
    </p>
    <p>
      Some Sites I designed and implemented on InvestorBridge:
    </p>
    </div>
    <ul>
      <li>Backstopsolutions.com</li>
      <li>Backstopadvisors.com</li>
      <li>ironwoodpartners.com</li>
      <li>crestlineinvestors.com</li>
    </ul>
  <div class="pdetails">
    <p>
      In 2011 I transitioned to a role as a Front End Developer on the engineering team and redesigned the user interface for the sites administration platform while learning RoR basics.  In 2013 I took over Product Manager responsibilities for the platform  while continuing to handle the front end dev work.
    </p>
    <p>
      Projects I participated in as a Front End Engineer
    </p>
    <ul>
      <li>Implemented mediaelements.js and secure media delivery through signed urls over S3</li>
      <li>Backport i18n into the application</li>
      <li>Implementation Tracking Tool</li>
      <li>CMS Administrative product design</li>
    </ul>
    <p>
      In 2014 the UIUX team was founded at Backstop. While offloading our previous responsibilities it became apparent that the majority of the platforms functionality, implementation practices and key product knowledge was siloed within the design team. We spear headed documentation and education initiatives for our company to remedy this.  In the process we streamlined the workflow with our professional services team on timeline, process, and deliverables to provide a standardized implementation to our clients.  We worked with our education department by documenting functionality in wikis, hosting education webinars, and creating courses in LeanCore.
    </p>
    <p class="button-links">
      <a href="https://www.backstopsolutions.com/investorbridge" class="button">
        <svg class="svg_button">
          <use xlink:href="#svg_road_hover"></use>
        </svg>
        &nbsp;Visit the Website
      </a>
    </p>
  </div>

  <%= render :partial => 'layouts/project_list' %>

</div>