<div class="prototype project-details">

  <div class="pdetails">

    <svg class="svg_h1">
      <use xlink:href="#svg_lab"></use>
    </svg>
    <h1>Pitching &amp; Prototyping</h1>

    <p class="quote">
      The best UX strategists create delight by working in the intersection of business and design.
      <br>
      - Jared Spool
    </p>
    <p>
      When I heard Jared Spool say this at a conference it really drove me to think about what motivates people in their different roles.  I understood that if I wanted other people think about the importance of UX the way I do, I would have to align my goals with theirs.
    </p>
    <p>
      Business Strategic Priorities
    </p>
    <ol>
      <li>Increase Revenue                   </li>
      <li>Decrease Costs                     </li>
      <li>Increase new business              </li>
      <li>Increase existing business         </li>
      <li>Increasing Shareholder Value       </li>
    </ol>
    <p>
      I presented to our executive team the value a streamlined user interface and experience would have on our application.  I included statistics from Forester Design Research, XX, and XX.  I outlined the roadmap of required features and changes necessary to move the application forward.  I included a fictitional press release for  the launch of the new application design, and finally showed off an interactive prototype that aligned these principles so they could get hands on time with the functionality.
    </p>
    <p>
      The principals behind the design decisions is to start with the broadest features and tools that all users interact with in the system and make those the best they can be.  From there, focus on updating more specialized features. The items that need adjustment in the application include, but are not limited to the following pieces of functionality:
    </p>
    <ul>
      <li>Inconsistent navigation                                                                             </li>
      <li>Not tablet/ touch friendly                                                                          </li>
      <li>Many ways to complete the same task with different UIs                                              </li>
      <li>Methods for conducting Search are spread out throughout the application and have an inconsistent UI </li>
    </ul>
    <p>
      The prototype was built in a manner that focused on aesthetics and functionality (the code is not pretty).  The UI has also been through several iterations at this point based upon interviews and user feedback.
    </p>
    <p>
      Built in RoR for easy access the asset pipeline, railsie stuff, scss, bourbon,  etc.
    <br>
      Free hosting on Red Hat open shift.  It may take up to 30 seconds for first load as the server boots up.
    </p>
  </div>

  <%= render :partial => 'layouts/project_list' %>

</div>