<div class="sageify project-details">
  <a href="/backstop-product" class="parrow left-arrow" >
    <%= image_tag("http://res.cloudinary.com/dassllli0/image/upload/v1415400690/left_arrow_g_c3xadv.svg", alt: "Back") %>
  </a>

  <a href="/backstop-mobile" class="parrow right-arrow" >
    <%= image_tag("http://res.cloudinary.com/dassllli0/image/upload/v1415400704/right_arrow_g_erbw08.svg", alt: "Next") %>
  </a>


  <div class="pdetails">

    <%= image_tag("http://res.cloudinary.com/dassllli0/image/upload/v1415800819/sageify_hheoqp.png", alt: "Sageify") %>

    <p>Backstop's main platform is a CRM for alternative investment firms. It is a 12 year old application built on top
      of a large range of technologies.  My team is responsible for ongoing feature work and I am currently engaged in a long
      term project prioritising improvements and simplifying the user experience.
    </p>
  </div>
</div>