<div class="list-container ">
  <a name="recent-projects"></a>
  <h1>Recent Projects</h1>
  <a href="/backstop" title="Backsotp Mobile" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_backstop"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_backstop_hover"></use>
    </svg>
    UIUX at Backstop
  </a>
  <a href="/backstop-mobile" title="Backsotp Mobile" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_mobile"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_mobile_hover"></use>
    </svg>
    Backstop Mobile
  </a>
  <a href="/investorbridge" title="InvestorBridge" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_road"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_road_hover"></use>
    </svg>
    InvestorBridge
  </a>
  <a href="/backstop-web" title="Backstop Website" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_display"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_display_hover"></use>
    </svg>
    Backstop Public Website
  </a>
  <a href="/prototype" title="Pitching &amp; Prototyping" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_lab"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_lab_hover"></use>
    </svg>
    Pitching and Prototyping
  </a>

  <!--
  <a href="#" title="Elastic Search Interface" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_search"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_search_hover"></use>
    </svg>
    Elastic Search Interface
  </a>
  <a href="#" title="CSS to SCSS" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_css3"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_css3_hover"></use>
    </svg>
    CSS to SCSS
  </a>
  <a href="#" title="Writing a Living Style Guide" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_map2"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_map2_hover"></use>
    </svg>
    Writing a Living Style Guide
  </a>
  <a href="#" title="UX from the Ground Up" class="plist">
    <svg class="svg_nav">
      <use xlink:href="#svg_profile"></use>
    </svg>
    <svg class="svg_nav_hover">
      <use xlink:href="#svg_profile_hover"></use>
    </svg>
    UX from the Ground Up
  </a>     -->
</div>